body {
  overflow-x: hidden;
}
a {
  color: black;
  text-decoration: none;
}
* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: 10px 150px;
  background-image: url("./img/image\ 5\ \(1\).png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}
.header-top-container img {
  object-fit: cover;
}
.header-top-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-icon {
  display: flex;
  gap: 10px;
}
.header-center-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.header-center-left span {
  color: #f36f20;
}
.header-center-left h2 {
  font-size: 4rem;
}
.header-center-right {
  width: 350px;
}

.header-end-container img {
  object-fit: cover;
}
.header-end-container {
  gap: 30px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.header-box-a a {
  color: white !important;
}
.header-blok-a {
  display: flex;
  justify-content: flex-end;
}
.header-box-a {
  justify-self: flex-end;
  margin-top: 40px;
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  padding: 20px 40px;
  background-color: #f36f20;
  color: white !important;
  align-items: center;
  display: flex;
  gap: 10px;
}
nav {
  display: flex;
  width: 100%;
  gap: 5px;
}
.nav-blok-img img {
  width: 100%;
  transition: 0.6s;
  object-fit: cover;
}
.nav-blok-img {
  position: relative;
  overflow: hidden;
}
.nav-blok {
  position: relative;
  width: 100%;
  text-align: center;
}
.nav-blok-img:hover img {
  transform: scale(1.1);
}
.nav-blok-img::after {
  background-color: rgba(0, 0, 0, 0.463);
  position: absolute;
  content: "";
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.nav-blok p:hover {
  background-color: #f36f20;
}
.nav-blok p {
  transition: 0.6s;
  position: absolute;
  color: white;
  margin-top: -10px;
  background-color: #282828;
  padding: 15px 0px;
  width: 100%;
}




/* <!-- ----content---- --> */


.content {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content-img {
  width: 50%;
  position: relative;
}
.content-img::after {
  position: absolute;
  content: "";
  width: 90%;
  height: 100%;
  left: 10px;
  right: 0;
  bottom: 0;
  top: 10px;
  border: 1px solid #f36f20;
  border-radius: 10px;
}
.content-text h2 {
  font-size: 2.4rem;
}
.content-img img {
  border-radius: 10px;
  position: relative;
  z-index: 10;
  width: 90%;
  height: 90%;
  object-fit: cover;
}
.content-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}
.content-text h2{
  position: relative;
}
.content-text h2::after{
  background-color: #f36f20;
  position: absolute;
  content: "";
  height: 3px;
  width: 50px;
  right: 0;
  left: 0;
  bottom: -10px;
  position: absolute;
}
.content-text p {
  line-height: 22px;
}
.content-container {
  width: 100%;
  gap: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-a{
  margin-top: 20px;
  width: fit-content;
}
.btn-a__inner:hover{
  background-color: #f36f20;
  color: white;
}
.btn-a__inner::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -5px;
  width: 23px;
  height: 23px;
  border-radius: 0px 0 8px 0px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  border-color: #f36f20;
  border-style: solid;
  border-width: 0px 1px 1px 0;
}
.btn-a__inner::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 23px;
  height: 23px;
  border-radius: 8px 0 0 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  border-color: #f36f20;
  border-style: solid;
  border-width: 1px 0 0 1px;
}
.btn-a__inner:hover::before {
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 8px 8px 0px 8px;
}
.btn-a__inner:hover::after {
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 0px 8px 8px 8px;
}
.btn-a__inner {
  transition: .8s;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #f36f20;
  color: #f36f20;
  position: relative;
  width: 30%;
  padding: 10px 30px;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

}
.box-blok h2{
  font-size: 2.2rem;
}
.box-blok:hover{
    transform: translateY(-10px);
}
.box-blok{
  transition: .5s;
  cursor: pointer;
  text-align: center;
  gap: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 230px;
  height: 110px;
  background-color: #28282841;
  background-blend-mode: multiply;
  background-image: url('./img/black-metallic-with-detailed-circular-mesh_1017-21346\ 1.png');
  object-fit: cover;
}

/* <!-- ----section---- --> */

section{
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-top-container h2{
  position: relative;
  font-size: 2rem;
}
.section-top-container h2::after{
  content:"";
  position: absolute;
  right: 50%;
  bottom: -10px;
  width: 50px;
  height: 3px;
  background-color: #f36f20;
}
.section-top-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  width: 100%;
}
.section-top-block{
  padding-top: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.section-btn-a:hover{
  transition: .6s;
 transform: scale(1.1);
}
.section-btn-a a{
  transition: .5s;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 5px;
  color: #545353;
  border:1px solid  #545353;
}
.section-btn-a a:hover{
  background-color: #f36f20;
  color: white;
  border-color: #f36f20;
}

.section-card{
  padding: 50px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.section-top-container p{
  max-width: 700px;
  width: 100%;
}
.card{
  border-radius: 10px;
  width: 260px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-text span{
  width: 100%;
  color: #f36f20;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 10px;
}
.card-text{
  margin: 0px 10px;
  border-bottom: 1px solid rgba(73, 73, 73, 0.444);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 10px;
  line-height: 20px;
}
.card-icon{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.card-item-icon{
  font-size: 14px;
  display: flex;
  gap: 5px;
}
.section-btn-a-card {
  width: 100%;
  padding:20px 0px;
  text-align: center;
}
.section-btn-a-card a{
  transition: .5s;
  text-align: center;
  border: 1px solid  #f36f20;;
  border-radius: 10px;
  width: 90%;
  display: block;
  margin: 0px 10px;
  padding: 10px 30px;
}
.section-btn-a-card a:hover{
  background-color: #f36f20;
  color: white;
}


/* <!-- ----main----- --> */

main{
  background-repeat: no-repeat;
  padding: 50px ;
  height: auto;
  width: 100%;
  background-image: url('./img/Rectangle\ 182.png');
}
.main-text-top h2{
  font-size:2.2rem;
}
.main-container{
  padding-top: 100px;
}
.main-text-top{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page-center{
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-page-top , .main-page-bottom{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main-page-block-1 ,.main-page-block-2 ,.main-page-block-3, .main-page-block-4 ,.main-page-block-5 ,.main-page-block-6{
  width: 310px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.main-page-block-1  img,.main-page-block-2  img,.main-page-block-3 img, .main-page-block-4  img,.main-page-block-5  img,.main-page-block-6 img{
  border-radius: 8px;
  padding: 10px;
  background-color: white;
}
.main-page-block-1 ,.main-page-block-2 ,.main-page-block-3, .main-page-block-4 ,.main-page-block-5 ,.main-page-block-6{
  position: relative;
}
.main-page-block-1{
  margin-left: 100px;
}
.main-page-block-1::after{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./img/YUXARI\ SOL.png");
  width: 100px;
  height: 100px;
  right: 0;
  top: 80px;
} 
.main-page-block-2{
  margin-top: -100px;
}
.main-page-block-2::after{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./img/YUXARI\ ORTA.png");
  width: 100px;
  height: 100px;
  right: 120px;
  top: 130px;
} 
.main-page-block-3{
  margin-top: 30px;
  margin-right: 0px;
}
.main-page-block-3::after{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./img/YUXARI\ SAG.png");
  width: 100px;
  height: 100px;
  left: -120px;
  top: 30px;
} 
.main-page-block-4{
  margin-left: 50px;
  margin-top: -150px;
}
.main-page-block-4 p{
  width: 210px;
}
.main-page-block-4::after{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./img/ASAGI\ SOL.png");
  width: 100px;
  height: 100px;
  right: -15px;
  top: 90px;
} 
.main-page-block-5{
  margin-top: 40px;
}
.main-page-block-5::after{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./img/ASAHI\ ORTA.png");
  width: 100px;
  height: 100px;
  right: 100px;
  top: -100px;
} 
.main-page-block-6{
  margin-top: -70px;
}
.main-page-block-6::after{
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./img/ASAGI\ SAG.png");
  width: 100px;
  height: 100px;
  left: -100px;
  top:0;
} 


.carusel{
  padding: 50px 0px;
}
.carusel-center-text{
  display: flex;
  align-items: center;
  justify-content: center;
}
.carusel h2{
  position: relative;
  font-size: 2.2rem;
}
.carusel h2::after{
  background-color: #f36f20;
  content: "";
  width:20%;
  height: 4px;
  right: 40%;
  bottom: -10px;
  position: absolute;
}