body {
  overflow: hidden visible;
}
a {
  color: black;
  text-decoration: none;
}
* {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  color: white;
  padding: 10px 150px;
  background-image: url("../img/Rectangle\ 295@2x.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}
.header-top-container img {
  object-fit: cover;
}
.header-top-container img{
  cursor: pointer;
}

.header-top-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-icon {
  align-items: center;
  display: flex;
  gap: 10px;
}
.header-container-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-center-container {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.header-center-left span {
  color: #f36f20;
}
.header-center-left h2 {
  font-size: 4rem;
}
.header-center-right {
  width: 350px;
}

.header-end-container img {
  object-fit: cover;
}
.header-end-container {
  gap: 30px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.header-box-a a {
  color: white !important;
}
.header-blok-a {
  display: flex;
  justify-content: flex-end;
}
.header-box-a {
  justify-self: flex-end;
  margin-top: 40px;
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  padding: 20px 40px;
  background-color: #f36f20;
  color: white !important;
  align-items: center;
  display: flex;
  gap: 10px;
}

main {
  padding: 50px 150px;
  width: 100%;
}
.main-container {
  flex-wrap: wrap;
  justify-content: flex-start;
  display: flex;
  gap: 50px;
}
.img-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-left {
  width: 500px;
  height: 100%;
}
.main-right h2 {
  font-size: 2rem;
}
.main-right h3 {
  color: #f36f20;
  font-size: 1.7rem;
}
.main-right {
  position: relative;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.main-right-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.p-block {
  border-radius: 5px;
  width: fit-content;
  padding: 5px 10px;
  background-color: #f36f20;
  color: white;
}
.p-black {
  font-weight: 700;
}
.main-text-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.main-right button {
  border-radius: 6px;
  border-color: #f36f20;
  color: white;
  width: fit-content;
  margin-top: 15px;
  padding: 10px 30px;
  background-color: chocolate;
}

.swiper {
  width: 70%;
}
.swiper-pointer-events {
  width: 100%;
}
.swiper-wrapper .swiper-slide {
  cursor: pointer;
  height: 350px;
}
.swiper .swiper_main img {
  width: 350px;
  height: 100%;
}

.swiper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper_thumbnail {
  margin-top: 5px;
}
.swiper_thumbnail .swiper-slide {
  height: 70px;
  cursor: pointer;
}
.swiper_thumbnail .swiper-slide-thumb-active::after {
  position: absolute;
  inset: 0;
  background-color: #0000005f;
  content: "";
}
.swiper_thumbnail .swiper-slide-thumb-active {
  position: relative;
  padding: 0px 2px;
}
.swiper_thumbnail img {
  vertical-align: bottom;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.swiper-slide-container {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: 100%;
  max-width: 600px;
  margin: auto;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 20%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  height: 80%;
  width: 100%;
}
.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide img {
  object-fit: cover;
  width: 100%;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 50%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column img {
  object-fit: cover;
  height: 100%;
}
.column {
  float: left;
  width: 33.3%;
  height: 150px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

#myModal {
  padding-top: 50px;

}

#myModal::-webkit-scrollbar {
  width: 0;
}

.caption-container {
  display: none;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

section {
  padding: 0px 150px;
}

.section-top {
  display: flex;
  gap: 15px;
}
.section-block {
  margin: 40px 0px;
  flex-direction: column;
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.section-page-block {
  display: flex;
}
.section-min-block:hover {
  transform: scale(1.01);
}
.section-min-block {
  cursor: pointer;
  transition: 0.4s;
  align-items: center;
  display: flex;
  gap: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px 15px;
  width: 100%;
}
.section-top h3 {
  cursor: pointer;
}
.section-text-col {
  display: flex;
  flex-direction: column;
}
.section-contaioner-next {
  margin: 40px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 3px 3px 6px 1px,
    rgba(0, 0, 0, 0.23) 3px 3px 6px 1px;
  gap: 10px;
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  border-radius: 10px;
}
.section-block-next p {
  position: relative;
}
.section-block-next p::after {
  border-radius: 50%;
  position: absolute;
  content: "";
  background-color: #f36f20;
  width: 7px;
  height: 7px;
  left: -17px;
  top: 9px;
}
.section-block-next {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.active {
  position: relative;
}
.active::after {
  position: absolute;
  background-color: #f36f20;
  width: 100%;
  height: 2px;
  content: "";
  bottom: -10px;
  right: 0;
  left: 0;
}
.active-fearures-open::after {
  display: flex;
}

.section-top-text {
  padding: 30px 150px 0px 150px;
}
.section-top-text h2 {
  font-size: 2rem;
}
.section-card {
  gap: 40px;
  flex-wrap: wrap;
  padding: 50px 150px;
  display: flex;
}
.section-top-container p {
  max-width: 700px;
  width: 100%;
}
.econom{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px 30px;
  background-color: #f36f20;
  color: white;
}
.card {
  position: relative;
  border-radius: 10px;
  width: 240px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.card-text span {
  width: 100%;
  color: #f36f20;
  font-weight: 700;
  font-size: 18px;
  padding-bottom: 10px;
}
.card-text {
  margin: 0px 10px;
  border-bottom: 1px solid rgba(73, 73, 73, 0.444);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 10px;
  line-height: 20px;
}
.card-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.card-item-icon {
  font-size: 14px;
  display: flex;
  gap: 5px;
}

.section-btn-a-card {
  width: 100%;
  padding: 20px 0px;
  text-align: center;
}
.section-btn-a-card a {
  transition: 0.5s;
  text-align: center;
  border: 1px solid #f36f20;
  border-radius: 10px;
  width: 90%;
  display: block;
  margin: 0px 10px;
  padding: 10px 30px;
}
.section-btn-a-card a:hover {
  background-color: #f36f20;
  color: white;
}

footer {
  background-image: url("../img/footer.jpg");
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-container {
  width: 100%;
  color: white;
  padding: 40px 100px;
  display: flex;
  gap: 40px;
}
.footer-img {
  padding: 0px 15px;
}
.footer-block-text {
  padding: 0px 15px;
}
.footer-block-text p {
  padding: 5px 0px;
  position: relative;
}
.footer-block-text p::after {
  content: "";
  position: absolute;
  top: 14px;
  left: -15px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #f36f20;
}

.footer-icon-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-icon-row-p i {
  color: #f36f20;
}
.footer-icon-row-p {
  align-items: center;
  display: flex;
  gap: 10px;
}
.footer-icon {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-icon-row {
  display: flex;
  gap: 15px;
}
.footer-container-page {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-end {
  color: #a0a0a0;
  padding: 15px 100px;
  border-top: 1px solid #464646;
  display: flex;
  justify-content: space-between;
}

.main-page-blok img {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}
.main-page-blok {
  display: flex;
  align-items: center;
  gap: 15px;
}
.main-container-page img {
  cursor: pointer;
}
.main-container-page {
  padding-top: 50px;
  display: none;
}
.menu-container {
  width: 100%;
  height: 100%;
}
.menu-left {
  padding: 20px 0px 0px 70px;
  background-color: white;
  width: 40%;
  height: 100%;
}
.menuu-right {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url("../img/menu-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(40, 40, 40, 0.8);
  height: 100%;
  width: 60%;
}
.menuu-right ul li a {
  color: white !important;
}
.menuu-right ul li::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -10px;
  background-color: #f36f20;
  transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
  width: 0%;
  height: 2px;
}
.menuu-right ul li:hover::after {
  width: 100%;
}
.menuu-right ul li {
  width: fit-content;
  position: relative;
  list-style: none;
  font-size: 25px;
}
.menuu-right ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menu-container {
  transition: 0.4s;
  overflow-y: hidden;
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 100%;
  right: 0%;
  top: 0;
  display: flex;
}
#hamburger {
  cursor: pointer;
}
.close {
  color: white;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  content: "";
  font-size: 2.5rem;
}
.menu-active {
  left: 0;
}
.header-container-icon-menu-left {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.header-container-icon-menu {
  height: 80%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
.header-container-icon-menu-left {
  color: #464646;
}

@media (max-width: 1270px) {
  .header-container-icon {
    display: none;
  }
  main , section , .section-card , .section-top-text{
    padding: 50px ;
  }

}
@media (max-width: 1050px) {
  header {
    padding: 15px 30px;
    height: auto;
  }
  .footer-end {
      padding: 40px 30px;
      flex-wrap: wrap;
      gap: 10px;
    }
    .footer-container {
      padding: 40px 30px;
    }
}

@media (max-width: 870px){
  .main-left{
    width: 100%;
    max-width: 500px;
  }
  .footer-container {
      flex-direction: column;
      gap: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .footer-container-page {
      display: flex;
      align-items: center;
      gap: 50px;
    }

} 
@media (max-width: 720px) {
  .section-card{
    justify-content: center;
  }
  .section-page-block{
    display: flex;
    flex-direction: column;
  }
.menuu-right{
width: 100%;
flex-direction: column;
display: flex;
justify-content: center;
align-items: center;
}
.menu-left{
display: none;
}
.header-container-icon-menu{
display: flex;
}
.header-container-icon-menu {
  height: 20%;
  color: white;
}
}
@media (max-width: 500px) {
  .section-contaioner-next{
    gap: 0;
    justify-content: flex-start;
  }
  /* .swiper-slide.swiper-slide-visible.swiper-slide-active.swiper-slide-thumb-active{
    height: 100px;
  } */
  main , section , .section-top-text , .section-card{
    padding: 10px;
  }
  #swiper-wrapper-761bb8b27ec3a1b{
    height: 100%;
  }

.header-center-left h2 {
  font-size: 1.8rem;
}
}



